<h1><%= @project.name %></h1>

<p>
  <strong>Description:</strong>
  <%=h @project.description %>
</p>
<p>
  <strong>Company:</strong>
  <%=h @project.company_id %>
</p>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
